#nav {
    font-size: large;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main-div {
    margin-top: 150px;
}

#main-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/twitter-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
}

#signup-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bunch-twitter-icons-logos-3d-background_125322-9.webp);
    height: 100vh;
    background-attachment: fixed;
}

#signin-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/twitter-3.jpg);
    height: 100vh;
    background-attachment: fixed;
}

.para {
    text-align: justify;
    background: rgb(29, 161, 242, 0.8);
    border-radius: 1rem;
    color: white;
}

.owner {
    margin: auto;
}

small {
    color: rgb(255, 0, 0);
    background-color: white;
}

.form-head {
    background: rgb(29, 161, 242, 0.8);
    border-radius: 1rem 1rem 0 0;
}

.form-body {
    background: rgb(29, 161, 242, 0.6);
    border-radius: 0 0 1rem 1rem;
}